#Put the file outside of project

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="pwt.wsgi.application" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\pwt" />

    <!-- Optional settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="pwt.settings" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\pwt\logs\fastcgi.log" />
  </appSettings>

    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>

    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>

</configuration>
